@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-text font-sans antialiased;
  background-image: linear-gradient(to bottom, #141414, #000000);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface-hover rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
